<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    table{
        width:600px;
        border: 1px solid #aaa;
    }
    tr,td,th{
        border: 1px solid #aaa;
        text-align: center;
    }
</style>
<body>
    <h2><a href="/add">添加学生信息</a></h2>
    <table >
        <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>家庭住址</th>
                <th>联系方式</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i = 0; i< list.length; i++){%>
                <tr>
                    <td><%=list[i].sname%></td>
                    <td><%=list[i].age%></td>
                    <td><%=list[i].addr%></td>
                    <td><%=list[i].tel%></td>
                    <td>
                        <a href="/deleteDo?id=<%=list[i]._id%>">删除</a>
                        <a href="/update?id=<%=list[i]._id%>">修改</a>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>
<script>

</script>